body{
    background-color: lightcyan;
}
#snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
  z-index: 0; 
}
#welcomeCard {
      position: fixed;
      top: 25%;
      left: 25%;
      transform: translate(-50%, -50%);
      width: 90%;
      max-width: 800px;
      background-color: #ffe5e5;
      padding: 2rem;
      text-align: center;
      box-shadow: 0 5px 20px rgba(0,0,0,0.3);
      z-index: 1;
      border-radius: 10px;
      z-index: 2;
      font-family: 'Arial', sans-serif;
    }

    #signature {
      display: block;
      text-align: right;
      margin-top: 2rem;
      font-style: italic;
      font-weight: 500;
      font-size: 0.9rem;
    }

    #showPageBtn {
  font-size: 1.2rem;
  padding: 0.7rem 1.5rem;
}

#mainContent {
  display: none;
  margin: 5rem 1rem 2rem 1rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card-container .card {
  width: 250px;
  min-height: 150px;
  text-align: center;
  padding: 1.5rem;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  border-radius: 15px;
  background-color: #fff0f5;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-container .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}