body{
    background-color: lightcyan;
}
#snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
  z-index: 0; 
}
card{
    position: relative;
    z-index: 1;
}