
#snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* para não atrapalhar cliques nos botões */
  z-index: 9999; /* fica acima do fundo, mas atrás do conteúdo se quiser */
}
