body{
    background-color: lightcyan;
}
#snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
  z-index: 0; 
}
#welcomeCard {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1000px;
  min-height: 70vh;

  background-color: #ffe5e5;
  padding: 6rem;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  border-radius: 20px;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: opacity 0.8s ease, transform 0.8s ease;

  font-family: 'Arial', sans-serif;
    }

    #welcomeCard h2 {
  font-size: 4.5rem;
}

#welcomeCard p {
  font-size: 2.2rem;
}

    #signature {
      display: block;
      text-align: right;
      margin-top: 2rem;
      font-style: italic;
      font-weight: 500;
      font-size: 2.2rem;
    }

    #showPageBtn {
  font-size: 1.8rem;
  padding: 1rem 1rem;;
}

#mainContent {
  display: none;
  margin: 5rem 1rem 2rem 1rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card-container .card {
  width: 250px;
  min-height: 150px;
  text-align: center;
  padding: 1.5rem;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  border-radius: 15px;
  background-color: #fff0f5;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-container .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}